# Assignment 15

## Goal 1

In [58]:
from collections import namedtuple, defaultdict
import datetime

In [2]:
csv_ = 'nyc_parking_tickets_extract.csv'

In [8]:
with open(csv_, 'r') as f:
    header = f.readline()
    line = f.readline()

In [4]:
header

'Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Description\n'

In [5]:
cols = header.replace(' ','')

In [7]:
cols.split(',')

['SummonsNumber',
 'PlateID',
 'RegistrationState',
 'PlateType',
 'IssueDate',
 'ViolationCode',
 'VehicleBodyType',
 'VehicleMake',
 'ViolationDescription\n']

In [9]:
line

'4006478550,VAD7274,VA,PAS,10/5/2016,5,4D,BMW,BUS LANE VIOLATION\n'

In [39]:
Summons = namedtuple('Summons', cols, defaults=(0, '', '', '', datetime.datetime, 0, '', '', '') )

In [18]:
get_date = lambda x : datetime.datetime.strptime(x, '%m/%d/%Y')

In [43]:
def cast_line(line:list) -> list:
    "Simple type casting as per fields"
    line[0] = int(line[0])
    line[4] = get_date(line[4])
    line[5] = int(line[5])
    return line

In [65]:
def get_a_summons():
    with open(csv_, 'r') as f:
        _ = next(f)
        for line in f:
            line = line.strip('\n')
            line = cast_line(line.split(','))
            if len(line) == 9:
                yield Summons(*line)
            else:
                print(line)

In [49]:
iter_summons = iter(get_a_summons())

In [50]:
next(iter_summons)

Summons(SummonsNumber=4006478550, PlateID='VAD7274', RegistrationState='VA', PlateType='PAS', IssueDate=datetime.datetime(2016, 10, 5, 0, 0), ViolationCode=5, VehicleBodyType='4D', VehicleMake='BMW', ViolationDescription='BUS LANE VIOLATION')

In [51]:
next(iter_summons)

Summons(SummonsNumber=4006462396, PlateID='22834JK', RegistrationState='NY', PlateType='COM', IssueDate=datetime.datetime(2016, 9, 30, 0, 0), ViolationCode=5, VehicleBodyType='VAN', VehicleMake='CHEVR', ViolationDescription='BUS LANE VIOLATION')

## Goal 2

In [66]:
vialations = defaultdict(int)
for summon in get_a_summons():
    vialations[summon.VehicleMake] +=1

[8480309064, '51771JW', 'NY', 'COM', datetime.datetime(2017, 1, 26, 0, 0), 64, 'VAN', 'INTER', '"64-No STD Ex Con/DPL', ' D/S Dec"']

Here we see an data field which has a comma in line which is used as a seperator, hence the above data point could be an outlier and needs to be introspected.

In [67]:
vialations

defaultdict(int,
            {'BMW': 34,
             'CHEVR': 76,
             'DODGE': 45,
             'FORD': 104,
             'FRUEH': 44,
             'HONDA': 106,
             'LINCO': 12,
             'TOYOT': 112,
             'CADIL': 9,
             'CHRYS': 12,
             'FIR': 1,
             'GMC': 35,
             'HYUND': 35,
             'JAGUA': 3,
             'JEEP': 22,
             'LEXUS': 26,
             'ME/BE': 38,
             'MERCU': 4,
             'MITSU': 11,
             'NISSA': 70,
             'HIN': 6,
             'NS/OT': 18,
             'WORKH': 2,
             'ACURA': 12,
             'AUDI': 12,
             'INTER': 24,
             'ISUZU': 10,
             'KENWO': 5,
             'KIA': 8,
             'OLDSM': 1,
             'SUBAR': 18,
             'VOLVO': 12,
             'SATUR': 2,
             'SMART': 3,
             'INFIN': 13,
             'PETER': 1,
             '': 5,
             'CITRO': 1,
             'ROVER': 5,
             'BUICK': 5,
             'GEO': 1,
             'MAZDA': 5,
             'PORSC': 3,
             'VOLKS': 8,
             'YAMAH': 1,
             'BSA': 1,
             'MINI': 1,
             'PONTI': 1,
             'SPRI': 1,
             'PLYMO': 1,
             'SCION': 2,
             'UPS': 1,
             'FIAT': 1,
             'UD': 1,
             'UTILI': 1,
             'GMCQ': 1,
             'SAAB': 2,
             'HINO': 2,
             'STAR': 1,
             'AM/T': 1,
             'MI/F': 1})

The above are violations by company wihout considering the outlier

In [68]:
#considering ther outlier
vialations['INTER'] +=1

In [72]:
sorted(vialations.items(), key=la)

[('', 5),
 ('ACURA', 12),
 ('AM/T', 1),
 ('AUDI', 12),
 ('BMW', 34),
 ('BSA', 1),
 ('BUICK', 5),
 ('CADIL', 9),
 ('CHEVR', 76),
 ('CHRYS', 12),
 ('CITRO', 1),
 ('DODGE', 45),
 ('FIAT', 1),
 ('FIR', 1),
 ('FORD', 104),
 ('FRUEH', 44),
 ('GEO', 1),
 ('GMC', 35),
 ('GMCQ', 1),
 ('HIN', 6),
 ('HINO', 2),
 ('HONDA', 106),
 ('HYUND', 35),
 ('INFIN', 13),
 ('INTER', 25),
 ('ISUZU', 10),
 ('JAGUA', 3),
 ('JEEP', 22),
 ('KENWO', 5),
 ('KIA', 8),
 ('LEXUS', 26),
 ('LINCO', 12),
 ('MAZDA', 5),
 ('ME/BE', 38),
 ('MERCU', 4),
 ('MI/F', 1),
 ('MINI', 1),
 ('MITSU', 11),
 ('NISSA', 70),
 ('NS/OT', 18),
 ('OLDSM', 1),
 ('PETER', 1),
 ('PLYMO', 1),
 ('PONTI', 1),
 ('PORSC', 3),
 ('ROVER', 5),
 ('SAAB', 2),
 ('SATUR', 2),
 ('SCION', 2),
 ('SMART', 3),
 ('SPRI', 1),
 ('STAR', 1),
 ('SUBAR', 18),
 ('TOYOT', 112),
 ('UD', 1),
 ('UPS', 1),
 ('UTILI', 1),
 ('VOLKS', 8),
 ('VOLVO', 12),
 ('WORKH', 2),
 ('YAMAH', 1)]